@import '../../styles/colors.scss';

.info-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  height: 40vmin;
  width: 40vmin;
  margin: 0 100px;

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    border-bottom: 2px solid $secondary-color;

    &:first-child {
      border-top: 2px solid $secondary-color;
    }
  }
}
