@import '../../styles/colors.scss';

.page-cover{
  width: 70vw;
  height: 85vh;
  border-radius: 25px;
  margin-right: 1vw;
  border: 2px solid $secondary-color;
  
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: $light-color;
  box-shadow: 1vw 1vw 0 $action-color;
  z-index: 10;
}