@import '../../styles/colors.scss';

.content-cover {
    width: 50vw;

    height: calc(80vh + 4px);

    position: relative;
    transform-style: preserve-3d;
    transition: transform 1.6s ease;

    .side {
        width: 50vw;
        height: 80vh;
        position: absolute;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border: 2px solid $secondary-color;
        overflow: hidden;
        background-color: white;

        &.front {
            transform: translateZ(40vh);
        }

        &.bottom {
            transform: rotateX(-90deg) translateZ(40vh);
        }

        &.back {
            transform: rotateX(-180deg) translateZ(40vh);
        }

        &.top {
            transform: rotateX(-270deg) translateZ(40vh);
        }

        
    }
}